{% load crispy_forms_tags %}
{% load staticfiles %}

{#{% block head_title %} Welcome | {% endblock %}#}

{% include "stukjes/_head.html" %}


{% block content %}

    {% include 'themes/header.html' %}
    <p>Welcome to our </p>


    <div class="row">
        <div class="col-sm-8 col-sm-offset-3">
            <form method="POST" action="" >
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-primary" type="submit" value="SignUp"/>
            </form>
        </div>
    </div>
{% endblock %}
