<div class="inner cover">
    <h1 class="cover-heading">Welcome to our Family Website.</h1>
    <p class="lead">June arrives with a great addition to our family. We are excited to be able to let you know that this will be a very prestigious moment for us</p>
    <p class="lead">
        {% if user.is_authenticated %}
            <a href="#" class="btn btn-lg btn-default">Learn more</a>
        {% else %}
            <a href="/accounts/login/" class="btn btn-lg btn-default"> Login</a>
        {% endif %}
    </p>
</div>