<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand">Familie Mutale</h3>
        <nav>
            <ul class="nav masthead-nav">

            {% if request.user.is_authenticated %}
                <li class="text-info"> Hi, <span class="text-capitalize">{{ request.user }} </span> </li>
                <li class="{% if  " " in request.path %}active{% endif  %}"><a href="/">Home</a></li>
                <li class="{% if  " " in request.path == url %}active{% endif  %}"><a href="#">Contact</a></li>
                <li class="{% if  "/accounts/logout/" in request.path %}active{% endif  %}"><a href="{% url 'auth_logout' %}">Logout</a></li>
                {% else %}
                <li class="{% if  "/accounts/register/" in request.path %}active{% endif  %}"><a href="/">Home</a></li>
                <li class="{% if  "/accounts/login/" in request.path %}active{% endif  %}"><a href="{% url 'auth_login' %}">Login</a></li>
                <li class="{% if  "/accounts/register/" in request.path %}active{% endif  %}"><a href="{% url 'registration_register' %}">Register</a></li>
            {% endif %}
{#                <li><a href="/admin/">Admin</a></li>#}
            </ul>
        </nav>
    </div>
</div>
