{% load staticfiles %}
<!DOCTYPE html>

<head>
    <title>
        {% block head_title %}{% endblock %}  Familie Mutale
    </title>
{% include "stukjes/_head.html" %}
</head>

<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">
            {% include 'themes/header.html' %}
            {% block content %}
            {% if "" in request.path %}
                {% include "features/full-width-heading.html" %}
            {% endif %}
            {% endblock %}
        </div>
    </div>
</div>
<!------ Footer ONLY if not logged in ----->
{% if not user.is_authenticated %}
    <div class="footer">
        <p style="margin:10px">© 2016 Familie Mutale, Inc.</p>
    </div>
{% endif %}
<!---------------- ------------------->

<!------If user is logged in --------->
{% if user.is_authenticated %}
    <div class="site-wrapper">
        {% include "features/carousel.html" %}
    </div>
    <div class="cover-container">
        {% include 'themes/footer.html' %}
    </div>
{% endif %}
<!----------------- ------------------>
</body>

{% block js %}
    {% include "static/_head-js.html" %}
{% endblock %}
