<!-- FOOTER -->
<footer>
    <div class="blog-footer">
        <div class="inner">
            <p>2016 - Familie Mutale </p>
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>

            </span>@familie
            <p>
                <a href="#">Back to top</a>
            </p>
        </div>
    </div>
</footer>