{% load staticfiles %}

<script>
    window.jQuery || document.write('<script src="{% static 'js/jquery.min.js' %}"><\/script>')
</script>
<script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/holder.min.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.cs"></script>
<script src="http://getbootstrap.com/dist/css/less/glyphicons.less"></script>
<script src="http://getbootstrap.com/dist/css/less/mixins/vendor-prefixes.less"></script>

