{% load staticfiles %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="{% static  'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static  'css/carousel.css' %}" rel="stylesheet">
<link href="{% static  'css/cover.css' %}" rel="stylesheet">
<link href="{% static  'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
{#<link href="{% static  'css/blog.css' %}" rel="stylesheet">#}
