{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block content %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <p class="lead">{% trans "Account activation failed." %}</p>
        </div>
    </div>
{% endblock %}


{% comment %}
**registration/activate.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}