{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <p>
                {% trans "Your account is now activated." %}
                {% if not user.is_authenticated %}
                    {% trans "You can log in." %}
                {% endif %}
            </p>
        </div></div>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}