{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Logged out" %}{% endblock %}

{% block content %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <p>{% trans "Successfully logged out" %}.</p>
        </div>
    </div>
{% endblock %}