{% extends "registration/registration_base.html" %}
{% load i18n crispy_forms_tags%}

{% block head_title %}{% trans "Reset password" %} | {% endblock %}

{% block content %}
            <p>
                {% blocktrans %}
                    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
                {% endblocktrans %}
            </p>
            <div class="form-group has-feedback col-sm-6">
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" value="{% trans 'Reset password' %}" />
                </form>
            </div>
{% endblock %}
