{% extends "registration/registration_base.html" %}
{% load i18n crispy_forms_tags %}

{% block head_title %}{% trans "Confirm password reset" %} | {% endblock %}

{% block content %}
    <p>{% trans "Enter your new password below to reset your password:" %}</p>
    <form method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="{% trans 'Set password' %}" />
    </form>
{% endblock %}
