{% extends "registration/registration_base.html" %}
{% load i18n crispy_forms_tags %}

{% block head_title %}{% trans "Register for an account" %} | {% endblock %}

{% block content %}
    {% trans "Register for an account" %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="">
            {{ form|crispy }}
        </div>
        <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}" />
    </form>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}